<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Palabras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ version }}">
</head>
<body>
    <div class="container">
        <h1>Buscador de Palabras</h1>

        <!-- Pestañas -->
        <div class="tabs">
            <button class="tab-button active" data-tab="text-tab">Procesar Texto</button>
            <button class="tab-button" data-tab="image-tab">Procesar Imagen</button>
        </div>

        <!-- Contenido de las pestañas -->
        <div id="text-tab" class="tab-content active">
            <!-- Contenido existente de matriz de texto -->
            <form id="wordsearch-form">
                Matriz
                <textarea id="matrix" placeholder="Ingrese la matriz de palabras (separada por comas)"></textarea>
                Palabras
                <textarea id="words" placeholder="Ingrese las palabras a buscar (separadas por comas)"></textarea>
                <button type="submit">Buscar Palabras</button>
            </form>
            <button id="download-btn" style="display:none;">Descargar Resultados</button>
        </div>

        <div id="image-tab" class="tab-content">
            <!-- sección para matriz de imágenes -->
            <form id="image-form">
                <input style="font-family: 'Courier New', Courier, monospace;" type="file" id="image-input" accept="image/*">
                <button type="button" id="process-image-btn">Extraer Matriz</button>
            </form>
            <div id="image-preview"></div>
            <textarea id="generated-matrix" placeholder="Matriz generada desde la imagen" readonly></textarea>
        </div>

        <!-- Botón para acceder al Gestor de Matrices -->
        <div class="matrix-link">
            <button onclick="window.open('http://localhost:5001', '_blank')">Ir al Generador de Matrices</button>
        </div>
    </div>

    <div id="matrix-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-body">
                <div class="matrix-container" id="highlighted-matrix"></div>
                <div class="found-container">
                    <h3>Palabras Encontradas</h3>
                    <ul id="found-list"></ul>
                </div>
                <div class="not-found-container">
                    <h3>Palabras No Encontradas</h3>
                    <ul id="not-found-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}?v={{ version }}"></script>
</body>
</html>
